.grid-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.header {
    font-weight: bold
}

.grid-container div {
    margin: 1ex;
}

.popup .radio-group {
    display: flex;
    gap: 10px;
}

#download-directory {
    width: 100%;
}

.attachment-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
	gap: 10px; /* Adds spacing between elements */
}

.attachment-item input[type="checkbox"] {
    margin-right: 10px;
}

.attachment-item input[type="text"] {
    width: 80%;
}

.attachment-size {
    font-size: 0.9em;
    color: #666;
    white-space: nowrap; /* Prevents wrapping */
}
